<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyj.pageviewcountdemo.mapper.PageMapper">
    <select id="getViewCountById" resultType="java.lang.Integer">
        SELECT page_view FROM t_page where id = #{id};
    </select>

</mapper>